<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Vue To Do List</title>
</head>
<body>

    <!-- istanza app di VUE  -->
    <div id="myapp">

        <!-- inserimento nuovo task  -->
        <input type="text" v-model="newTask.text" @keyup.enter="addNewTask" placeholder="Inserisci un nuovo task">
        <button @click="addNewTask">Aggiungi task</button>


        <div v-if="tasks.length === 0">
            Complimenti! Hai completato tutti i task di oggi. Ora puoi dedicarti da altro.
        </div>

        <ul v-else>
            <li v-for="task, i in tasks" :class="task.done === 'true' ? 'strikethrough': ''" :key="i">
                {{task.text}}
                <div @click="removeTask(i)" class="cross">
                    &#10060;
                </div>

                <div @click="addStrikethrough(i)" class="check">
                    &#10004;
                </div>
            </li> 
        </ul>

    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>