<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Vue To Do List</title>
</head>
<body>

    <h1>TO-DO LIST</h1>

    <!-- istanza app di VUE  -->
    <div id="myapp" class="container">
        <div id="list-container">
            
            <!-- inserimento nuovo task  -->
            <div id=new-task-container>
                <input id="user-input" type="text" v-model="newTask.text" @keyup.enter="addNewTask" placeholder="Inserisci un nuovo task">
                <div id="add" @click="addNewTask">Aggiungi task</div>
            </div>
    
    
            <div id="list-done" v-if="tasks.length === 0">
                Complimenti	&#128079;&#128079;! Hai completato tutti i task di oggi. Ora puoi dedicarti da altro.
            </div>
    
            <ul v-else>
                <li v-for="task, i in tasks" :class="task.done === 'true' ? 'strikethrough': ''" :key="i">
                    {{task.text}}
                    
                    <div @click="addStrikethrough(i)" class="check">
                        &#10004;
                    </div>

                    <div @click="removeTask(i)" class="cross">
                        &#10060;
                    </div>
                </li> 
            </ul>
        </div>

    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>